[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .eggs,
    *.egg,
    build,
    dist,
    venv,
    node_modules
ignore =
    E302,
    E303,
    E501,
    W291,
    W292,
    W293,
    W503,
    W504,
    E741,
    F541,
    E261,
    E262,
    W391,
    E305,
    E231,
    E221,
    E241,
    E251,
    E271,
    F401
per-file-ignores =
    __init__.py:F401
    tests/*:E501,F401
